
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 100%;
    /* border: 2px solid red; */
}

/*container*/

.main-container{
    display: flex;
}

/*left section*/
img{
    width: 100%;
    height: auto;
}


.left-section{
    width: 70vh;
    /* height: 742px;
     */
     height: 100vh;
     background-image:url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    border: 1px solid red;
}

/*right section*/
.right-section{
   border: 1px solid blue;

   display: flex;
   flex-direction: column;
}

.top-section{
    border: 2px solid green;
    
    background-color: rgb(218, 216, 216);
    /* width: auto; */
    height: calc(100vh/3);
}

.middle-section{
    border: 2px solid violet;
    
    height: calc(100vh/3);
}

.bottom-section{
    border:2px solid yellow;
    
    background-color: rgb(218, 216, 216);
    height: calc(100vh/3);
}