
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    min-width: 100%;

}

/*container*/

.main-container{
    display: flex;
}

/*left section*/
img{
    width: 100%;
    height: auto;
}


.left-section{
    width: 70vh;
    height: 100vh;

    background-image:url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*right section*/
.right-section{
 
   width: 150vh;
   display: flex;
   flex-direction: column;
}

.top-section{
    background-color: rgba(218, 216, 216,0.15);
    height: calc(100vh/3);
}

.middle-section{
    height: calc(100vh/3);
}

.bottom-section{
    background-color: rgba(218, 216, 216,0.15);
    height: calc(100vh/3);
}

/*RIGHT top section*/
.top-section{
    padding: 75px 25px 0px 35px;
}

.top-section .second-line{
    padding: 35px 0px 0px 0px;
}


/*Form labels and input fields*/
.form-first-row,
.form-second-row,
.form-third-row{
    display: flex;
    gap: 50px;
}

#first-name-p,
#last-name-p{
    display: flex;
    flex-direction: column;

}

#email-p,
#phone-number-p{
    display: flex;
    flex-direction: column;

}

#email-p,
#confirm{
    display: flex;
    flex-direction: column;
}

.middle-section{
    padding: 13px 0px 0px 36px;
}

#first-name-p,
#last-name-p,
#email-p,
#phone-number-p,
#email-p,
#confirm{
  padding: 20px 0px 0px 0px;
}

input{
    width: 181px;
    height: 24px;
}

/*bottom-section*/
button{
    width: 169px;
    height: 36px;

    background-color:#596D48;
    border: 1px solid #596D48;
    border-radius: 7px;
    color: white;

}

a{
    text-decoration: none;
    color: #637f4a;
}

.bottom-section{
   padding: 28px 0px 0px 36px;
}

.bottom-section p{
    padding-top: 28px;
}

/*left section logo*/



.logo-container{
    padding: 101px 0px 0px 83px;
    background-color: rgba(5, 3, 3, 0.30);

    height: 23vh;
    
  
    margin-top: 11vh;
    
    background-image:url('/assets/greenlogo.png');
    background-repeat: no-repeat;
    background-size: 80% 164px;
    background-position: 6.9vh 1vh;
   
}