@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Geologica&display=swap');

.left-section{
    font-family: 'Dosis', sans-serif;
}


.right-section{
    font-family: 'Geologica', sans-serif; 
    font-size: 1.3rem;
 
    
}

/*reducing font-size for middle section labels*/
#first-name-p,
#last-name-p,
#email-p,
#phone-number-p,
#email-p,
#confirm{
  font-size: 0.7rem;
}



